:root, html {
    font-family: Nunito, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    margin: 0;
    font-family: Nunito, sans-serif !important;
}

*:focus {
    outline: transparent;
}

.main-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-banner h1 {
    color: rgb(51 51 51);
    opacity: 1;
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    text-transform: capitalize;
}

.main-banner>:nth-child(2) {
    margin: 148px 0px 50px;
}

.main-banner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgb(51 51 51);
    margin-top: 8px;
}

.mainBanner-image {
    width: 500px;
    background-image: url(../images/s3-images/laptop-new.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 100%;
    height: 508px;
    position: absolute;
    right: 0px;
    top: 0;
}

.main-banner::before {
    content: url(../images/s3-images/junelaptop-bg.svg);
    position: absolute;
    right: 0;
    top: 56px;
    opacity: 1;
}

.hidden-lg {
    display: none;
}

@media only screen and (max-width: 768px) { 
    .main-banner::before {
        opacity: 0;
    }
    .mainBanner-image {
        display: none;
    } 
    .main-banner>:nth-child(2) { 
        text-align:center !important; 
    }
    .hidden-lg {
        display: block;
    }
}

.main-banner .exam {
    padding-left: 0;
    margin: 30px auto;
}

.main-banner .exam li {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgb(51 51 51);
    padding-right: 15px;
}

.verticleSlider {
    position: relative;
    width: 100%;
    float: left;
    height: 142px;
    overflow: hidden;
}

.verticleSlider .slick-list {
    height: 140px
}

.mainBanner-form.input-group {
    background: rgb(255 255 255);
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-radius: 27px;
    width: 458px;
    margin: 0;
    padding: 5px 5px 5px 25px;
    margin-top: 30px;
}

.input-group-btn {
    position: absolute;
    right: 3px;
    bottom: 2.5px;
}

.mainBanner-form .form-control:focus {
    color: rgb(73 80 87);
    background-color: rgb(255 255 255);
    border-color: rgb(0 0 0 / 0%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.mainBanner-form .form-control {
    border-color: transparent;
}

.orangeButton {
        color: rgb(255 255 255);
        background: rgb(255 111 1);
        border-radius: 25px;
        text-align: center;
        padding: 10px 17px;
        font-size: 16px;
        font-weight: 400;
        border: 0;
        letter-spacing: .23835px;
        text-transform: uppercase;
}

.slick-slide img {
    margin: 0 auto;
    padding: 0;
}

.slick-next:before {
    border: solid rgb(153 158 164);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '' !important;
}

.slick-prev:before {
    border: solid rgb(153 158 164);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    content: '' !important;
}

.slick-slide img:hover {
    border-color: rgb(51 122 183);
}