:root, html {
    font-family: Nunito, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    margin: 0;
    font-family: Nunito, sans-serif !important;
}

*:focus, .btn-primary.focus, .btn-primary:focus {
    outline: transparent;
    box-shadow: 0 0 transparent;
}

body {
    font: normal 16px/24px Nunito,sans-serif;
    color: rgb(74 74 74);
    background: rgb(255 255 255);
}

@media only screen and (max-width: 900px) {   
    .hidden-lg {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg,
    .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}

.mainBanner-form.input-group {
    background: rgb(255 255 255);
    box-shadow: 0 0 4px rgba(0,0,0,.25);
    border-radius: 27px;
    max-width: 458px;
    margin: 0;
    padding: 5px 5px 5px 25px;
    margin-top: 30px;
    left: -40px;
}

.input-group-btn {
    position: absolute;
    right: 3px;
    bottom: 2.5px;
}

.mainBanner-form .form-control:focus {
    color: rgb(73 80 87);
    background-color: rgb(255 255 255);
    border-color: rgb(0 0 0 / 0%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.mainBanner-form .form-control {
    border-color: transparent;
}

.slick-slide img {
    margin: 0 auto;
    padding: 0;
}

.slick-next:before {
    border: solid rgb(153 158 164);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '' !important;
}

.slick-prev:before {
    border: solid rgb(153 158 164);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    content: '' !important;
}

.slick-slide img:hover {
    border-color: rgb(51 122 183);
}