.feature-banner {
    background: rgb(236 244 252);
    padding: 39px 0px;
    position: relative;
}

.feature-banner .media {
    margin-right: 65px;
    width: 268px;
    background: rgb(255 255 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    border-radius: 8px;
    padding: 17px 23px;
}

.feature-banner .media p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(102 102 102);
    margin-left: 0px;
    text-align: left;
    margin-bottom: 0;
}

.get-in-description {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    color: rgb(60 72 90);
}

.get-in-description .list-group-item {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(102 102 102);
    border: 0px;
    padding: 0px;
    border: 0px;
}

.get-in-description .list-group-item:not(:first-child) {    
    padding: 0px 16px;
}

.get-in-description p {
    font-size: 20px;
    color: rgb(102 102 102);
    padding: 6px 0 0 0;
}

.get-in-description .get-app-form .mobile-text-field {
    border-left: 0;
    border: 0px solid;
    padding: 15px 19px;
    border-radius: 38px;
    margin-left: 7px;
    box-shadow: none;
    width: 257px;
    height: 40px;
}

.get-in-description .get-app-button .btn-primary,
.get-app-button .btn:focus, 
.get-app-button .show>.btn-primary.dropdown-toggle:focus, 
.get-app-button .btn-primary:hover,
.get-app-button .btn-primary:not(:disabled):not(.disabled):active,
.get-app-button .show>.btn-primary.dropdown-toggle {
    background-color: rgb(255 168 0);
    border-color: transparent;
    background: rgb(255 168 0);
    color: rgb(255 255 255);
    outline: none;
    font-size: 16px;
    text-align: center;
    padding: 7px 20px;
    border-radius: 50px;
    box-shadow: none;
}

.get-in-description .get-app-form {
    box-shadow: 0 0 6px 1px rgba(0,0,0,.18);
    border-radius: 50px;
}

.home-tab {
    display: inline-flex;
    text-align: center;
    border: 1px solid rgb(217 216 216);
    border-radius: 50px;
    padding: 12px 16px 14px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 613px;
    overflow-x: auto;
}

.home-tab .nav-link {
    color: rgb(102 102 102);
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 6px 36px;
    cursor: pointer;
    border-radius: 100px;
}

.home-tab .active {
    background: rgb(29 125 234);
    color: rgb(255 255 255);
    border-radius: 100px;
}

.home-card {
    background: rgb(255 255 255);
    box-shadow: 0 0 15px rgba(0,0,0,.22);
    border-radius: 3px;
    margin: 15px auto;
    text-align: center;
    max-width: 400px;
    min-width: 284px;
}

.home-card .bg-text {
    font-size: 80px;
    font-weight: 700;
    color: rgb(29 125 234);
}

.home-card .md-text {
    font-weight: 700;
    font-size: 26px;
    color: rgb(102 102 102);
    line-height: 35px;
}

.home-success-header .title {
    color: rgb(29 125 234);
    font-size: 30px;
    font-weight: 700;
}

.home-success-header .para {
    font-size: 20px;
    line-height: 27px;
    width: 73%;
}

.home-success-container .details {
    padding: 40px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-success-container .details p {
    font-size: 18px;
    color: rgb(101 111 125);
}

.home-success-container h2 {
    font-size: 28px;
    padding: 10px 0;
    line-height: 40px;
    font-weight: 700;
    width: 100%;
    color: rgb(60 72 90);
}

.media img {
    width: 50px;
    height: 48px;
}

.meet-our-toppers {
    background: rgb(255 255 255);
    padding: 23px 0 30px 23px;
}

.meet-our-toppers h1 {
    font-size: 36px;
    color: rgb(51 51 51);
    display: block;
    padding: 15px 0;
    margin: 0;
}

.meet-our-toppers {
    color: rgb(51 51 51);
    font-size: 24px;
    line-height: 33px;
    margin: 0px;
}

.meet-our-toppers strong {
    font-size: 36px;
    color: rgb(29 125 234);
}

.meet-our-toppers a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(29 125 234);
}

.nav-tabs:not(:first-of-type) {
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 0 auto;
    max-width: 635px;
    width: calc(100% - 20px);
    text-align: center;
    border: 1px solid rgb(217 216 216);
    border-radius: 50px;
    padding: 12px;
    margin-bottom: 15px;
}

.nav-tabs:first-of-type .nav-link.active {
    font-weight: 700;
    border-bottom: 2px solid rgb(29 125 234);
}

.nav-tabs:not(:first-of-type) .nav-link.active {
    border-color: rgb(255 255 255) rgb(255 255 255) rgb(255 255 255);
    background: rgb(29 125 234);
    color: rgb(255 255 255);
    border-radius: 100px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border-color: transparent;      
    color: rgb(29 125 234);
}

.nav-tabs {    
    color: rgb(29 125 234);
    border-bottom: 1px solid transparent;
    justify-content: center;
    align-items: center;
}

.news-letter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.news-letter-form .form-label {
    font-size: 16px;
    vertical-align: middle;
    color: rgb(51 51 51);
    padding: 8px 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.news-letter-form .mobile-text-field,
.news-letter-form .mobile-text-field:focus {
    width: 300px;
    border-collapse: separate;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
    padding: 7px 10px;
    height: auto;
    box-shadow: 0 0 transparent;
}

.news-letter-form .subscribe-button,
.news-letter-form .subscribe-button:focus {
    padding: 7px 22px;
    height: auto;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 3px 3px 0;
    background: '#1d7dea';
    color: rgb(255 255 255);
    box-shadow: 0px 0px transparent;
}

.margin-md {
    margin: 40px;
}

.text-md {
    font-size: 36px;
    font-weight: 700;
}

@media screen and (max-width: 900px) {     
    .news-letter-form>form {
        justify-content: center;
        align-items: center;
        text-align: center;
    }  

    .mainBanner-form.input-group {
        left: 0px;
    }
    .feature-banner .media {
        width: 170px;
        display: block;
    }

    .feature-banner .media p {
        text-align: center;
        margin-top: 4px;
    }

    .get-in-description {
        justify-content: center;
        align-items: center;
    }

    .get-in-description p {
        font-size: 16px;
        margin: 0 auto;
        width: 48%;
        text-align: center;
    }

    .get-app-form {
        display: none;
    }

    .get-in-description .list-group-item {
        font-size: 20px;
    }
    
    .get-in-description h1 {
        font-size: 24px;
    }

    .home-card .md-text {
        font-size: 20px;
    }

    .home-success-header .para {
        font-size: 16px;
        line-height: 27px;
        width: 100%;
    }
    .score-banner {
        padding: 48px 10px;
    }

    .score-banner h3 {
        font-size: 26px;
    }

    .st-border-left {
        border-left: solid 1px transparent;
    }

    .st-border-right {
        border-right: solid 1px transparent;
    }

    .news-letter-form .subscribe-button,
    .news-letter-form .mobile-text-field {
        width: 100%;
    }
}

.top-student {  
    margin: 100px 16%;
}

.student-count-card {
    margin: 20px auto 50px;
}

.student-count-card .card-text {
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    color: rgb(60 72 90);
    font-weight: 700;
    display: block;
    text-align: center;
}

.student-count-card .card-title {
    font-size: 40px;
    padding: 0;
    color: rgb(29 125 234);
    font-weight: 700;
    margin: 0px;
    display: inline-block;
}


.st-border-right {
    border-right: solid 3px rgb(204 204 204);
}

.st-border-left {
    border-left: solid 3px rgb(204 204 204);
}

.score-banner { 
    border-bottom: solid 1px rgb(204 214 218);  
    padding: 48px 62px 25px;  
    background: rgb(242 251 255);
    text-align: center;
    line-height: 50px;
}

.score-banner .list-group-item {
    background-color: transparent;
    border: 1px solid transparent;
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(60 72 90);
    display: inline-block;
    font-weight: 700;
    letter-spacing: .4px;
    text-align: center;
}

.score-banner h3 {
    color: rgb(29 125 234);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
}


.wt-students-say {
    background: rgb(250 250 250);
    margin-bottom: 35px;
    text-align: center;    
    padding: 30px 0px;
}

.wt-students-say h2{
    font-weight: 700;
    color: rgb(29 125 234);
}

.wt-students-say p {
    color: rgb(102 102 102);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 28px;
}

.carousel-control-next, 
.carousel-control-prev {
    color: rgb(255 255 255);
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-next-icon {
    height: 26px;
    background-image: url(https://mypat.in/assets/img/s3-images/rgt-arrow.svg); 
}

.carousel-control-prev-icon {
    height: 26px;
    background-image: url(https://mypat.in/assets/img/s3-images/lft-arrow.svg);
}

.wt-students-say .caption p::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 35px;
    background: url(https://mypat.in/assets/img/s3-images/quote-lft.svg) no-repeat 0 0;
    left: 0;
    top: 0;
}

.wt-students-say .caption p::after {
    background: url(https://mypat.in/assets/img/s3-images/quote-lft.svg) no-repeat 100% 100%;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
}

.wt-students-say .carousel-indicators {
    z-index: 2;
}

.wt-students-say .carousel-indicators li {
    border-radius: inherit;
    width: 15px;
    height: 0px;
    background: rgb(134 151 145);
    background-color: rgb(134 151 145);
    border-top: 0px solid rgb(0 0 0 / 0%);
    border-bottom: 5px solid rgb(0 0 0 / 0%);
}

.wt-students-say .carousel-indicators li.active {
    background: rgb(29 125 234);
    background-color: rgb(29 125 234);
}

.wt-students-say .carousel-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 20px auto;
}

.wt-students-say .carousel-image>img {
    z-index: 2;
    margin-bottom: 12px;
}

.wt-students-say .carousel-image::before {
    content: "";
    background: rgb(29 125 234);
    border-radius: 100%;
    position: relative;
    width: 110px;
    height: 109px;
    top: 100px;
    left: -40px;
}

.wt-students-say .carousel-image::after {
    content: "";
    width: 184px;
    height: 183px;
    top: 103px;
    background: rgb(29 125 234);
    border-radius: 100%;
    position: absolute;
}

.wt-students-say .carousel-image h4 {
    color: rgb(29 125 234);
    font-size: 16px;
    font-weight: 700;
    margin-top: 14px;
    max-width: 160px;
}

.year-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-tabs .nav-link {
    color: rgb(102 102 102);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    margin: 6px 14px;
    padding: 0px 0px 4px;
    cursor: pointer;
}

.year-tabs .active {
    color: rgb(29 125 234);
    font-weight: 700;
    border-bottom: 2px solid rgb(29 125 234);
}
